<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252374602117-nsj903prav52kjbge8auddur6hev4tr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252374602117-nsj903prav52kjbge8auddur6hev4tr2</string>
	<key>API_KEY</key>
	<string>AIzaSyBmxy0uHNDt00Yqsl7dp4KzPnKZe-QE6pE</string>
	<key>GCM_SENDER_ID</key>
	<string>252374602117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajanth.tinder-clone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-3d9a7</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-3d9a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252374602117:ios:f06f64237d3f88e07934ec</string>
</dict>
</plist>